@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply  scroll-smooth;
}

.max-w{
  @apply max-w-[1700px] relative mx-auto;
}



.right_nav{
  @apply hover:text-white hover:bg-primary-blue px-4 py-2 rounded-md
}

.hero_grid{
  @apply w-full bg-primary-gray-100 rounded-xl flex flex-col h-full justify-center items-center text-primary-blue text-sm px-5 py-6 font-bold gap-3  sm:gap-6 text-center cursor-pointer transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300 hover:bg-primary-gray
}

.card_main{
  @apply bg-white border-2 border-cyan-100 px-6 sm:px-10 py-10 flex flex-col gap-3
}

.card{
  @apply md:flex gap-10 w-full items-center bg-white
}

.card_img{
  @apply flex-shrink-0 mb-5 md:mb-0
  
}

.icon_style{
 @apply bg-blue-100  text-blue-600 h-24
}




